/* Start Variables */
:root {
    --main-color: rgb(83 146 198);
    --secondary-color: rgb(80 79 79);
    --third-color:#0ce90c;
    --main-duration: 0.8s ease;  
    }
    /* End Variables */
    /* Start Global And Custom Rules */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;400;500;600;800&display=swap');
    * {
        padding: 0;
        margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    body {
      font-family: "Work Sans", sans-serif;
    }
    .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }
    /* Small */
    @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }
    /* Medium */
    @media (min-width: 992px) {
      .container {
        width: 970px;
      }
    }
    /* Large */
    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      }
    }
    .d-flex{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .width80{
        width: 80%;
    }
    /* End Global And Custom Rules */